# List of pip (see https://pypi.org/) modules for this project
# https://github.com/Info-Prepas-MP2I/Modele-de-livre-avec-Jupyter-Book/

# For local development, use virtualenv (see Makefile, or this command)
# virtualenv ./venv3/
virtualenv  # not needed

# For Jupyter book
jupyter-book  # See https://jupyterbook.org/
# this installs all the dependencies, sphinx, jupyter and many other
cookiecutter

# To build with pdfhtml
pyppeteer

jupytext<=1.8.0>=1.6.0  # https://jupytext.readthedocs.io/en/latest
# FIXME: RecursionError: maximum recursion depth exceeded while calling a Python object
# => jupyter-book wants <= 1.8.0 but now jupytext is 1.10.0

# Sphinx extensions, cf exemples dans Extensions_sphinx.md
sphinxcontrib.youtube  # https://github.com/sphinx-contrib/youtube

sphinxcontrib.tikz     # https://sphinxcontrib-tikz.readthedocs.io/en/latest/
sphinxcontrib.proof    # https://sphinxcontrib-proof.readthedocs.io/en/latest/
sphinxemoji            # https://github.com/sphinx-contrib/emojicodes

# See https://github.com/Naereen/web-sphinx/ for more examples

# For other kernels
#bash_kernel  # https://github.com/takluyver/bash_kernel

# Main Python modules, to be able to use them in local notebooks
# TODO write demo notebooks/pages using each module
numpy
matplotlib
networkx
scipy
scikit-learn
pandas
sympy

# GitHub pages import, FIXME: could I remove this dependency?
ghp-import

# For Jupyter notebooks extensions ?
